.trHead {
    color:white;
}
h1{
/*    font-family: 'Rajdhani', sans-serif;*/
    font-family: 'Righteous', cursive;
}
body {
    margin: 10px;
    font-family: 'Exo 2', sans-serif;
    /*background-color: #1f71f4;*/
}

footer {
    text-align: center;
}


#btnGo {
    float: none;
}
.container {
    background-color: white;
}